.image {
  height: 100%;
  width: 200px;
  margin: 0 auto;
}

.font {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}

.today {
  color: #f43f5e;
}

.tomorrow {
  color: #fb923c;
}

.next {
  color: #fbbf24;
}

.main {
  /* padding-left: 30%; */
}

.input:focus {
  border-color: #f43f5e;
}

.input2:focus {
  border-color: #fb923c;
}

.input3:focus {
  border-color: #fbbf24;
}
